@mixin clearfix{
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}

@mixin center-vh{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

//Media Queries
// 1em = 16px
@mixin design($device){
    @if($device == phone){
        @media only screen and (max-width: 37.5em) {@content};  //600px
    }
    @if($device == tab-portrait){
        @media only screen and (max-width: 56.25em) {@content};  //900px
    }
    @if($device == tab-horizontal){
        @media only screen and (max-width: 75em) {@content};  //1200px
    }
    @if($device == big-desktop){
        @media only screen and (min-width: 112.5em) {@content};  //1800px
    }
    
}

