.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  position: relative;

  &__side {
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: $default-shadow;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background: linear-gradient(
          to right bottom,
          $color-blue-light,
          $color-blue-dark
        );
      }

      &-2 {
        background: linear-gradient(
          to right bottom,
          $color-brown-light,
          $color-brown-dark
        );
      }

      &-3 {
        background: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
    z-index: -10;
  }

  &:hover &__side--back {
    transform: rotateY(0);
    z-index: -10;
  }

  &__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: hard-light;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-blue-light,
          $color-blue-dark
        ),
        url("../img/bird.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-brown-light,
          $color-brown-dark
        ),
        url("../img/monkey.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-green-light,
          $color-green-dark
        ),
        url("../img/fish-card.jpg");
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    text-align: right;
    position: absolute;
    top: 10rem;
    right: 1rem;
    width: 50%;
  }

  &__heading-span {
    padding: 0.6rem 1rem;
    box-decoration-break: clone;
    &--1 {
      background: linear-gradient(
        to right bottom,
        rgba($color-blue-light, 0.8),
        rgba($color-blue-dark, 0.8)
      );
    }

    &--2 {
      background: linear-gradient(
        to right bottom,
        rgba($color-brown-light, 0.8),
        rgba($color-brown-dark, 0.8)
      );
    }

    &--3 {
      background: linear-gradient(
        to right bottom,
        rgba($color-green-light, 0.8),
        rgba($color-green-dark, 0.8)
      );
    }
  }

  &__details {
    font-size: 1.6rem;

    ul {
      list-style-type: none;
      width: 80%;
      margin: 2rem auto;

      li {
        padding: 1rem;
        text-align: center;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light;
        }
      }
    }
  }

  &__price-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }
  &__price-only {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 5rem;
    font-weight: 100;
  }

    @media only screen and (max-width: 56.25em),
    only screen and (hover:none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: $default-shadow;

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;
      
  
      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details{
      padding: 1rem 3rem;
    }

    &__price-form {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }
    &__price-only {
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    &__price-value {
      font-size: 5rem;
      font-weight: 100;
    }
  }
}
